<%include ../layout/header.ejs%>

     <h1>My Orders</h1>
     
    
    Date from : <input type="date"/>
    Date to : <input type="date" />
     <table>
         <tr>
             <th>Order Date</th>
             <th>Status</th>
             <th>Amount</th>
             <th>action</th>
             </tr>

             <%orders.forEach(function(order){%>
                <tr>
                    <td><%= order.time%></td>
                    <td><%= order.status%></td>

                    <td><%= order.price%></td>
                    <td><a href="/orders/delete">Cancel</a></td>
                    <td><%= order.room%></td>
                </tr>
                <tr>
                <td colspan=4>
                    <img src="/img/<%= order.img%>" width="100" height="100">
                </td
                </tr>
                <%}) %>

            </table>
                
          
 <%include ../layout/footer.ejs%>
