<%include ../layout/header.ejs%>

     <h1>Orders! </h1>
     
    
     <table border=1>
         <tr>
             <th>Order Date</th>
             <th>Name</th>
             <th>Room</th>
             <th>Ext</th>
             <th>Action</th>
             </tr>
             <select name='user'>
                <%users.forEach(function(users){%>
                <option value="<%= users._id %>"><%= users.name %></option>
                <%})%>
                </select>
             <%orders.forEach(function(order){%>
                <tr>
                    <td><%= order.time%></td>
                    <td><%= order.user%></td>
                    <td><%= order.room%></td>
                    <td><%= order.ext%></td>
                    <td><%= order.action%></td>
 
                </tr>
                <tr colspan=5>


                
                
                    <td>
                        <img src="/img/<%= order.img%>" width="100" height="100">
                    </td>
                </tr>
                <%}) %>
            </table>
               
          
 <%include ../layout/footer.ejs%>
