<%include ../layout/header.ejs%>

<style>
table,td,th{


border: 1px solid rgb(80, 55, 38);
color: rgb(80, 55, 38);
}

#listu{

margin-left: 15%;
}
h1{
    margin-left: 15%;
}

#cont{
            background-color: rgba(185, 143, 94, 0.473);
            width: 70%;
            margin-left: 15%;
            height: 100%;
        }

</style>
<div id="cont">
     <h1 style="color:rgb(63, 52, 22)">List Users</h1>
     <%if(msg !=''){%>
        <h3><%= msg%></h3>
    <%}%>
    <div id="listu">
     <table>
         <tr>
             <th>name</th>
             <th>room</th>
             <th>img</th>
             <th>EXT</th>
             <th>action</th>
             </tr>
             <%data.docs.forEach(function(user){%>
                <tr>
                    <td><%= user.name%></td>
                    <td><%= user.RoomNo%></td>
                    <td><img src="/img/<%= user.img%>" width="100" height="100"></td>
                    <td><%= user.EXT%></td>
                    <td><a href="/users/delete/<%=user._id%>">Delete</a></td>
                    <td><a href="/users/edit/<%=user._id%>">edit </a></td>
                </tr>
            <% }) %>
         </table>
         <ul>
         <%for(var i=1;i<=data.pages;i++){%>
               <li><a href="/users/list/<%=i%>">page<%=i%></a></li>
             <%}%>
         </ul>
        </div>
</div>
 <%include ../layout/footer.ejs%>
