<%include ../layout/userheader.ejs%>

<style>
 body{

  background-image: url("srsr.jpg");
   /* background-repeat: no-repeat;  */
  background-size: 1350px 700px;



 }
    #quantity{
        text-align: center;
        margin-left: 10px;

        width: 88px;
        height: 35px;

    }

    #result2{
        margin-left: 10px;

        width: 88px;
        height: 35px;

    }
    #calc{
        height:65.5%;
        width:25%;
        padding:15px;
        margin-left: 24%;

        color:rgb(46, 28, 8);
        margin-top: 5%;
        background-color: rgba(204, 176, 145, 0.705);

   border-color: rgb(83, 56, 25);
        border-width:  4px;
        border-style: groove;
        overflow: scroll;


        }
        #menu{
        display:block;
        width:28%;
        background-color: rgba(204, 176, 145, 0.705);

        border-color: rgb(83, 56, 25);
        border-width:  4px;
        border-style: groove;
        overflow: scroll;
        color:rgb(46, 28, 8);
        margin-left:55%;
        height:70%;
        margin-top: -37%;

        }

    #result3{
        margin-left: 10px;

        width: 88px;
        height: 35px;

    }



#last_order{
        height:25%;
        border-bottom: 2px solid  rgb(87, 60, 43);
        width: 70%;
        margin-left:38px;
        padding:15px;
        text-align: center;
        border-spacing: 10px;
    border-collapse: expression('separate', cellSpacing = '10px');


    }

    #last_order td{

    text-align: center;
padding: 12px 12px 12px 12px;
}

#myTabl2{
    margin-left: 10px;
    border-spacing: 10px;
    border-collapse: expression('separate', cellSpacing = '10px');
}
#myTabl2 td{
    text-align: center;
padding: 12px 12px 12px 12px;
}
h3{
    margin-top: 1px;
}

#tbl td {
    text-align: center;
padding: 12px 12px 12px 12px;

}



#logo{
    border-radius: 45px;
    display: block;
    margin-top: 15%;
    margin-left: 5%;
}

#user{
    margin-top: -10px;
}

#cont{
            background-color: rgba(185, 143, 94, 0.473);
            width: 70%;
            margin-left: 15%;
            height: 100%;
        }

</style>
     <script src="http://code.jquery.com/jquery.js"></script>
    <script>
    var summ=0;
    var calc=0;
    var ProudctPriseArray=[];
    var proudctNameDatabase="";
    var priceProdctDataBase;
    var prbtn;

    var pr;




$(function(){
    $(".products").one('click',function(){

        //console.log(this.name);
        $("#calc2").append("<label class ='components'>"+this.name+"</label>");
       // $("#last_order").append("<label class ='comp'>"+this.name+"</label>");
        $("#calc2").append("<input type='text' id='C"+this.name+"' name='"+this.name+"' value='1'/>");
        $("#calc2").append("<button class='plus' name='"+this.name+"'>+</button>");
        $("#calc2").append("<button class='mins' name='"+this.name+"'>-</button>");
        $("#calc2").append(" EGP ");
        $("#calc2").append("<label title='"+this.title+"' id='P"+this.name+"'>"+this.title+"</label><br/>");
        //$("#myRow").append(document.getElementById("myorder"));



        var total=parseInt($("#toot").text().split(' ')[2]);
        total+=parseInt(this.title);
        $("#toot").text("total EGP "+total);
    });
    $('#calc2').on('click','.plus',function(){
        var text=parseInt($("#C"+this.name).val())
        price=parseInt($("#P"+this.name)[0].title)
        $("#C"+this.name).val(++text);
        text2=parseInt($("#P"+this.name).text());
        text2+=price;
        $("#P"+this.name).text(text2);
        var total=parseInt($("#toot").text().split(' ')[2]);
        total+=price;
        $("#toot").text("total EGP "+total);
    });
    $('#calc2').on('click','.mins',function(){
        if(parseInt($("#C"+this.name).val())>1){
        var text=parseInt($("#C"+this.name).val())
        price=parseInt($("#P"+this.name)[0].title)
        $("#C"+this.name).val(--text);
        text2=parseInt($("#P"+this.name).text());
        text2-=price;
        $("#P"+this.name).text(text2);
        var total=parseInt($("#toot").text().split(' ')[2]);
        total-=price;
        $("#toot").text("total EGP "+total);
    }




    });

    $('#Confirm').on('click',function(){
       var order=('.component').this.title.val();
       var note=('#note').val();
       var room=('.room').val();
       var total=('#toot').val();

    })
})


function confirm(){



    db.orders.insert({})
    alert("Done !");
}


        </script>

<body>


   <div id="calc">

    <div id="calc2"></div>

    <table id="tbl">
<tr>
          <td>  Nots:</td>
          <td>  <textarea id="note" rows="5" cols="20" >
                </textarea></td>
</tr>

          <tr>  <td>Room :</td>

            <td><select class="room" >
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
                </select></td>
            </tr>
             <tr>
                <td> <div id="tot"></div><label id="toot">total EGP 0</label></td>
            </tr>
            <tr>

             <td>   <input type="submit" value="Confirm" id="Confirm" onclick="confirm()"></td>
            </tr>
            </table>

    </div>

    <div id="menu">
        <div id="last_order">
            <h3>Latest Order</h3>

            <table>
              <tr>




</tr>

            </table>

        </div>

        <table id="myTabl2">
            <%data.forEach(function(prod){%>
            <tr>
                    <td>
                      <button class="products" name="<%=prod.prod_name%>" title="<%=prod.price%>" >
                    <img src="/img/<%= prod.img%>" width="35" height="55"  name="<%= prod.prod_name%>" id="myorder">
                    <P ><%= prod.prod_name%> </P>
                    <p> <%= prod.price%> </P>
                        </button>
                    </td>
                    <%}) %>

            </tr>
        </table>



    </div>

    <%include ../layout/footer.ejs%>
